target/classes/csv-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="5975b3b4-bde0-43bb-9b88-3c1d64d208d4" >
		<file:connection workingDir="C:\Users\lenovo\Desktop" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="288fd789-7e72-4257-b9ba-c4cd08c38b59" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" password="root" database="poc" />
	</db:config>
	<flow name="csv-pocFlow" doc:id="2694f6d7-c136-43c5-b1d4-f06a216fb74e" >
		<scheduler doc:name="Scheduler" doc:id="2d94ef6f-a0d3-4f8a-81ce-8a14db5880d8" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="cusomer csv file Read" doc:id="07641e74-f925-4314-b530-66e9d7e36c30" path="C:\Users\lenovo\Desktop\customer.csv" config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="c848bae8-ff1d-418c-a355-8abe0febe862" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	country: payload01.country,
	address: payload01.address,
	name: payload01.name,
	ID: payload01.ID as Number,
	postal: payload01.postal as Number,
	Email: payload01.Email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="961548c8-0fc2-42c4-b568-83cdc7ebc336" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO customer (ID, name, Email, address, postal, country) VALUES (:ID, :name, :Email, :address, :postal, :country)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="091e8471-f1c6-4809-9580-77263fdaf72e" message="#[payload]"/>
	</flow>
</mule>
